.field{
    max-width: 1000px;
    min-height: 400px;
    margin:  0 auto;   

    display: grid;
    grid-template-columns: repeat(5, 200px);
    grid-template-rows: 200px 200px 200px;

    background-color: #FFFFCC;

}